---
layout: home
---
<ul>
	{% for post in site.posts %}
	<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
	{% endfor %}
</ul>
<!--
<body>
    {% for post in site.posts %}
    <article>
        {{ post.content }}
    </article>
    {% endfor %}
</body>
-->
