<div class="post_total">
	{% if page.tag %}
		<div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
	{% else %}
		<div class="left">{{ site.posts | size }} object(s)</div>
	{% endif %}
	<div class="right">&nbsp;</div>
</div>
