<br>
<hr>
<br>
<div class="donate">
	<p>Did you like of something here? How about helping me fund more projects?<br>
	I'll appreciate it!</p>
	<!--<p>Bitcoin Wallet <i class="fa fa-btc"></i> CHANGE ME<br>-->Ethereum Wallet <i class="fa fa-money"></i> 0x822e4E7Ce70fD05E3D0D10b6B56C5F3b5a38D082</p>
</div>
