<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/assets/css/atom-one-light.css">
	{% if page.title == 'about' %}
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    {% else page.title %}
        <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    {% else %}
        <title>{{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    {% endif %}
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<script src="/assets/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
