<div class="post_list">
	<ul>
		{% for post in site.posts %}
			{% if post.app == 'paint' %}
				<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/kodak.png" title="{{ post.title }}" />{{ post.title }}</a></li>
			{% else %}
				<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
