<div class="tag_list">
	<ul id="tag-list">
		<li><a href="/" ><img src="/assets/img/disk.png" />(C:)</a>
			<ul>
				{% assign tags = site.tags | sort %}
				{% for tag in tags %}
				<li><a href="/tag/{{ tag | first | slugify }}/" title="{{ tag[0] | replace:'-', ' ' }}"><img src="/assets/img/folder.ico" />{{ tag[0] | replace:'-', ' ' }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
