{% if include.content.title %}
    <div class="content">
		<div class="post_title">
			<img src="/assets/img/file.png" />
			<h1>{{  include.content.title  }}.txt</h1>
			<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
			<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
			<div class="btn"><span class="fa fa-window-minimize"></span></div>
		</div>
		<ul class="topbar">
			<li>{{ include.content.date | date: '%B %-d, %Y' }}</li>
		</ul>
		<div class="post_content">
    		{{ include.content.content }}
			{% if include.content.title %}
				{% include donate.html %}
			{% endif %}
		</div>
	</div>
{% endif %}
