{% if include.content.title %}
    <div class="content">
		<div class="post_title">
			<img src="/assets/img/paint.ico" />
			<h1>{{  include.content.title  }}.png - Paint</h1>
			<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
			<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
			<div class="btn"><span class="fa fa-window-minimize"></span></div>
		</div>
		<ul class="topbar">
			<a><li><u>F</u>ile</li></a>
			<a><li><u>E</u>dit</li></a>
			<a><li><u>V</u>iew</li></a>
			<a><li><u>I</u>mage</li></a>
			<a><li><u>O</u>ptions</li></a>
			<a><li><u>H</u>elp</li></a>
		</ul>
		<div class="w95paint_wrapper">
			<div class="w95paint_controls"> <img src="/assets/img/paintcontrols.png"/></div>
			<div class="w95paint_content"><img src={{ include.content.img }} \></div>
		</div>
		<div class="w95paint_colors"> <img src="/assets/img/paintcolors.png"/></div>
	</div>
{% endif %}
