:root {
 /*
	--desktopColor: #008082; 
 */
	--desktopColor: #a661c4;
	--w95color: #bfb8bf;
  --red: #ff0000; 
}

body {
	background: var(--desktopColor);
 	background-image: url("/assets/img/charklogo.png"); 
  background-repeat: space;
  background-size: 256px;
	font-family: sans-serif, serif, monospace;
	font-size: 13px;
}

.docScroller {
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Specifies that each element’s snap area should
       align with a 100px offset from the top edge. */
    scroll-padding: 100px 0 0;
    /* Encourages scrolling to end at a snap position when the
        operation completes, if it is near a snap position */
    scroll-snap-type: y proximity;
}

.wrapper, .content, .dialog {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	padding: 2px 0;
}


.wrapper, .content, .dialog {
	background: var(--w95color);
	border: 2px solid;
	border-color: #fff8ff #000000 #000000 #fff8ff;
}

.dialog {
	max-width: 300px;	
  max-height: 150px;
}


.dialog_title {
	padding: 2px 4px 3px 4px;
//	position: absolute;

	h1 {
		color: #000000;
		font-size: 14px;
		font-weight: bold;
	}
	
	img {
		float: left;
		width: 14px;
		height: 14px;
		margin: 0 3px 0 0;
	}

	a {
		color: #000000;
	}

	.btn {
		background: #cccccc;
		width: 13px;
		height: 11px;
		float: right;
		border: 2px solid;
		border-color: #fff8ff #000000 #000000 #fff8ff;

		span {
			font-size: 11px;
			position: relative;
			left: 2px;
			top: -2px;
		}

		.fa-window-minimize {
			font-size: 10px;
			//left: 1px;
		}

		.fa-window-maximize {
			font-size: 10px;
			//left: 1px;
		}
	}

	.btn_max {
		//margin: 0 3px 0 0;
	}

	.btn:active {
		width: 12px;
		height: 10px;
	}
}

.default_title, .post_title {
	padding: 2px 4px 3px 4px;
	position: relative;

	h1 {
		color: #bfb8bf;
		font-size: 14px;
		font-weight: bold;
	}
	
	img {
		float: left;
		width: 14px;
		height: 14px;
		margin: 0 3px 0 0;
	}
}
.post_title {
	h1 {
		display: inline-block;
	}

	a {
		color: #000000;
	}

	.btn {
		background: #cccccc;
		width: 13px;
		height: 11px;
		float: right;
		border: 2px solid;
		border-color: #fff8ff #000000 #000000 #fff8ff;

		span {
			font-size: 11px;
			position: relative;
			left: 2px;
			top: -2px;
		}

		.fa-window-minimize {
			font-size: 10px;
			left: 1px;
		}

		.fa-window-maximize {
			font-size: 10px;
			left: 1px;
		}
	}

	.btn_max {
		margin: 0 3px 0 0;
	}

	.btn:active {
		width: 12px;
		height: 10px;
	}
}
ul.topbar {
	list-style: none;
	padding: 0 10px;
	margin: 3px 0 3px 0;

	li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
	a {
		text-decoration: none;
		color: #000000;
	}
}

.wordtopbar {
	max-width:100%;
	object-fit: cover;
}
.post_list, .tag_list, .post_content, .w95word_content, .about_content, .dialog_content, .w95paint_content {
	background: #fff8ff;
	border-width: 2px;
	border-style: ridge groove groove ridge;
	border-color: #7f787f #fff8ff #fff8ff #7f787f;
}
.post_list {
	width: 70.2%;
	margin: 0 auto;
	min-height: 100px;
	max-height: 100px;
	overflow-y: auto;
	display: inline-block;

	ul {
		list-style: none;

		li {
			display: inline-block;
			margin: 10px;
			max-width: 16ch;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 8px;
			}

			a {
				text-decoration: none;
				color: #000000;
			}
		}
	}
}
.tag_list {
	width: 28%;
	margin: 0 auto;
	min-height: 100px;
	max-height: 150px;
	overflow-y: auto;
	display: inline-block;

	img {
		height: 16px;
		width: 16px;
		margin: -2px 5px;
	}

	a {
		text-decoration: none;
		color: #000000;
	}

	ul {
		li {
			max-width: 27ch;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
#tag-list {
    background:transparent url(/assets/img/pixel-alt.png) repeat-y 15px 0;
}
#tag-list li {
    padding:0 0 0 2px;
}
#tag-list li a {
    background: #fff8ff;
    display:block;
}
#tag-list li ul li {
    background:transparent url(/assets/img/pixel-alt.png) repeat-x 0 8px;
    margin:4px 0 4px 13px;
    padding:0 0 0 20px;
}
.post_total {
	.left, .right {
		border: 1px solid;
		border-color: #888888 #dadada #dadada #888888;
		display: inline-block;
		padding: 1px 3px;
	}
	.left {
		width: 32%;
		margin-left: 2px;
	}
	.right {
		width: 64%;
		margin-right: 2px;
	}
}

.clippy{
  position: relative;
  float: right;
  top: -196px;
  right: -175px;
  img{
    width: 200px;
    height: 200px;
  }

}

.w95paint_contnet {
	position: relative;
	width: 98.5%;
	min-height: 600px;
	max-width:200px;
	padding: 2px;
	margin: 0 auto;

}

.post_content, .w95word_content, .about_content {
	position: relative;
	width: 98%;
	min-height: 500px;
	padding: 2px;
	margin: 0 auto;
  
	p2 {
		line-height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    float: center;
	}



	p {
		line-height: 150%;
		margin-bottom: 15px;
	}

	a {
		color: #0000ff;
		margin-bottom: 15px;
	}

	h1 {
		font-size: 20px;
		font-weight: 700;
		margin: 50px 0 10px 0;
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
		margin: 25px 0 5px 0;
	}

	em {
		font-style: italic;
	}

	blockquote {
		padding: 0 0 0 15px;
		margin: 15px 5px;
		border-left: 8px solid #000000;
	}

	strong {
		font-weight: 700;
	}

	hr {
		border-top: 3px solid #333333;
		border-left: 0;
	}

	ul {
		list-style: square;
		margin: 0 0 15px 30px;

		li {
			padding: 5px;

			ul {
				margin: 10px 0 0 15px;

				li {
					padding: 5px;
				}
			}
		}
	}

	ol {
		list-style: decimal-leading-zero;
		margin: 0 0 15px 30px;

		li {
			padding: 5px;

			ul {
				margin: 10px 0 0 15px;

				li {
					padding: 5px;
				}
			}
		}
	}

	table, th, td {
		border: 1px solid #222222;
		padding: 2px;
	}

	pre {
		margin-bottom: 15px;
	}
}
.hljs {
	background: #fff8ff;
}
.footer {
	font-size: 12px;
	margin: 30px 0 10px 0;
  background: var(--w95color);

	p {
		text-align: center;

		a {
			color: #24244a;
		}
	}
}

.post_content {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: auto;
  img{
    width: 100%;
  }
}

.about_content {
	min-height: 250px;
	overflow-y: auto;
	overflow-x: auto;
	}

.dialog_title {
  max-height: 10px;
  width: auto;
  float: center;
}
	
.dialog_content {
	width: 98%;
  margin: auto;
  max-height: 100px;
  text-align: center;
	background: #bfb8bf;
    padding: 10px 0;

	p1 {
    padding: 70px 0;
		text-align: center;
    margin: auto;
    border: none;
    }
	a {
		color: #0000ff;
		margin-bottom: 15px;
	}
	p{
		text-align: center;
		border: 2px dotted;
		height: 20px;
		color: #000000;
	}
	.btn {
		background: #cccccc;
		width: 52px;
		height: 24px;
		margin: auto;
		border: 2px solid;
		border-color: #fff8ff #000000 #000000 #fff8ff;
		}
}

.w95word_content {

	img {
		max-width:100%;
		max-height:100%;
	}
}

.w95paint_wrapper{
	display: flex;
	}

.w95paint_content{
	//background-color: rgba(0,0,0,.5); // Sets to 50% transparent
	background-color: var(--w95color);
	//padding:0px 5px 5px 5px;
	padding: 0 2px 0 0;
	img {
		float: right;
		width: 100%;
		height: auto;
	}
}

.w95paint_controls {
	display: inline-block;
	width: 50px;
	img {
		width: 50px;
	}
}

.w95paint_colors {
	//display: flex;
	height: 50px;
	float: bottom;
	img {
		height: 100%;
    width: auto;
	}
}

.donate {
	float: right;
	padding: 0 3px 0 0;

	p {
		text-align: right;
		word-break: break-word;
	}
}
@media only screen and (max-width: 900px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 1175px) {
  .clippy{
      display: none;
  }
  .dialog{
      display: none;
  }
  .dialog_content{
      display: none;
  }
}

@media only screen and (max-width: 700px) {
    .content {
        width: 90%;
    }

	.post_content, .about_content, .w95word_content, .w95paint_content {
		width: 98%;
	}
}
@media only screen and (max-width: 500px) {
	.post_content, .about_content, .w95word_contnet, .w95paint_content  {
		width: 97%;
	}
}

@media only screen and (max-width: 500px) {
	.post_content {
    max-height: 100000px;
    height: auto;

	}
  .w95paint_colors {
    img {
	    height: 100%;
      width: 80%;
    }
  }

}

@media only screen and (max-width: 900px) {
	.wrapper {
		width: 90%;
	}
	.tag_list {
		width: 30%;
    float: left;
	}
	.post_list {
		width: 30%;
		float: right;
	}
	.post_total {
		.left {
			width: 30%;
		}
		.right {
			float: right;
			width: 60%;
		}
	}
}
@media only screen and (max-width: 750px) {
	.tag_list {
		width: 35%;
    float: left;
	}
	.post_list {
		width: 61%;
		float: right;
	}
	.post_total {
		.left {
			width: 36%;
		}
		.right {
			float: right;
			width: 60%;
		}
	}
}
@media only screen and (max-width: 610px) {
	.tag_list {
		width: 35%;
    float: left;
	}
	.post_list {
		width: 61%;
    float: right;
	}
	.post_total {
		.left {
			width: 35%;
		}
    .right {
      width: 60%;
      float: right;
    }
	}
}
@media only screen and (max-width: 520px) {
	.post_total {
		.left {
			width: 34.5%;
		}
	}
}
@media only screen and (max-width: 410px) {
	.post_total {
		.left {
			width: 31%;
		}
	}
}
@media only screen and (max-width: 375px) {
	.post_total {
		.left {
			width: 31%;
		}
	}
}

::-webkit-scrollbar {
	  width: 16px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
	background-image: url("/assets/img/track.png");
	background-repeat: repeat-x repeat-y;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
	background-color: #cccccc;
	border-width: 2px;
	border-style: groove ridge ridge groove;
	border-color: #fff8ff #000000 #000000 #fff8ff;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
	background-color: #cccccc;
	border-width: 2px;
	border-style: groove ridge ridge groove;
	border-color: #fff8ff #000000 #000000 #fff8ff;
	background-position: center center;
	background-repeat: no-repeat;

	&:vertical:decrement {
		background-image: url("/assets/img/up.png");
	}

	&:vertical:increment {
		background-image: url("/assets/img/down.png");
	}

	&:horizontal:decrement {
		background-image: url("/assets/img/left.png");
	}

	&:horizontal:increment {
		background-image: url("/assets/img/right.png");
	}

	&:active {
		background-position: 1px 2px;
	}
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
	background-color: #cacaca;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
