<!DOCTYPE html>
<html>
{% include header.html %}
<body>

	<div class="content">
		<div class="post_title">
			<img src="/assets/img/help.png" />
			<h1>AboutMe.exe</h1>
			<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
			<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
			<div class="btn"><span class="fa fa-window-minimize"></span></div>
		</div>
		{% include topbar-about.html %}
		<div class="about_content">
    		{{ content }}
			{% if page.title %}
				{% include donate.html %}
			{% endif %}
		</div>
	</div>
	

	<div class="content">
		<div class="post_title">
			<img src="/assets/img/word.png" />
			<h1>Microsoft Word - Resume</h1>
			<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
			<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
			<div class="btn"><span class="fa fa-window-minimize"></span></div>
		</div>
		<img class="wordtopbar" src="/assets/img/wordtoolbar.png" />
		<div class="w95word_content">
    		<img src="https://distorted_audio.gitlab.io/resume/Chartier_Resume.png" />
		</div>
    <div class="clippy">
			<img src="/assets/img/clippy.gif" />
		</div>
	</div>
	

		<div class="dialog">
			<div class="dialog_title">
				<h1>Resume Downloader</h1>
			</div>
			<div class="dialog_content">
        <p1>Would you like to download a copy of my resume?</p1><br><br>
				<a href="https://distorted_audio.gitlab.io/resume/Chartier_Resume.pdf"><div class="btn"><p><u>Y</u>es</p></div></a>
			</div>

		</div>
	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
</body>
</html>
