<!DOCTYPE html>
<html>
{% include header.html %}
<body>
	{% include w95file.html %}
	{% include w95post.html content=page %}
	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
	{% include w95footer.html %}
</body>
</html>
