<!DOCTYPE html>
<html>
{% include header.html %}
<body>

	{% include w95file.html %}
    {% for post in site.posts %}
		{% include w95post.html content=post %}
    {% endfor %}

	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
</body>
</html>
