<!DOCTYPE html>
<html>
{% include header.html %}
<body>
	<div class="wrapper">
			{% include w95titlebar.html %}
		  {% include topbar-tag.html %}
			{% include taglist.html %}
			<div class="post_list">
					<ul>
					{% for post in site.tags[page.tag] %}
	          {% if post.app == 'paint' %}
				      <li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/kodak.png" title="{{ post.title }}" />{{ post.title }}</a></li>
			      {% else %}
				      <li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
			      {% endif %}
					{% endfor %}
						</ul>
			</div>
			{% include bottombar.html %}
	</div>
    {% for post in site.tags[page.tag] %}
		{% include w95post.html content=post %}
    {% endfor %}
	<script src="/assets/js/001.js"></script>
	<script src="/assets/js/002.js"></script>
</body>
</html>
